


/* Media Queries */
.book-now {
  margin-top: 30px;
  display: inline-block; /* Asegura que el contenedor respete el tamaño del botón */
  overflow: hidden; /* Evita que la animación se desborde */
  display: inline-block; /* Importante para aplicar la animación correctamente */
  animation: pulse 2s infinite; 
}

.book-now a {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  background: #3D405B;
  border-radius: 4px;
  padding: 1rem 39px;
  display: inline-block; /* Importante para aplicar la animación correctamente */
}

/* Animación de latido */
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  header {
    background-color: #F7F7F7;
    height: 100%;
  }
  header.contact-us {
    height: auto !important;
  }
  header>section.hero {
    flex-direction: column;
  }
  header>section.hero h3 {
    width: 100% !important;
  }
  header>section.hero img {
    margin-top: 3rem;
  }
  footer div.link-grid-col {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .link-grid-col h4{
    margin-top: 20px;
  }
  /* Utilities */
  .d-none {
    display: none !important;
  }
  .d-block {
    display: block !important;
  }
}

#map-container {
  width: 100%;
  height: 300px; /* Ajusta la altura según tus necesidades */
  margin-bottom: 20px; /* Espacio inferior para separar del contenido del footer */
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  .d-md-block {
    display: none !important;
  }
  .d-md-none {
    display: block !important;
  }
  header>section.hero {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  header>section.hero>div:first-child {
    text-align: center;
    padding-right: 0;
  }
  header>section.hero>div:last-child {
    margin-top: 4rem;
  }
  div.welcome {
    justify-content: center;
  }
  header>section.hero h3 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) {
  header>section.hero>div:first-child {
    margin-top: 30px;
  }
  header>section.hero h3 {
    width: 100%;
  }
  footer {
    grid-template-columns: 1fr;
  }
  footer div.link-grid-col {
    grid-template-columns: repeat(3, 1fr);
  }
  #map-container iframe{
    width: 100%;
  }
}


